@model IEnumerable<Applicant.Models.AttachmentModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeAdd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantIdAdd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataTimeDelete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantIdDelete)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeAdd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantIdAdd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataTimeDelete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantIdDelete)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.AttachmentId }) |
                @Html.ActionLink("Details", "Details", new { id=item.AttachmentId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.AttachmentId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
