<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/Icons/Original.png" type="image/png">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <link href="~/admin-lte/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/admin-lte/css/skins/_all-skins.min.css" rel="stylesheet" />
    <meta name="description" content="Management application records of interviews with the applicant" />
</head>
<body class="skin-blue">
    <div class="pl">
        <div class="round1"></div>
        <div class="pl_l"></div>
    </div>
    <header class="main-header">
        <div class="navbar-header">
            <a href="/" class="logo">
                <span class="logo-lg">
                    <b>
                        <img src="~/Content/Icons/Icon.png" width="23" />
                        @ApplicantWeb.App_LocalResources.Applicant.Applicants
                    </b>
                </span>
            </a>
            
        </div>
        
        <nav class="navbar navbar-static-top">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="glyphicon glyphicon-menu-hamburger"></i>
            </button>
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <div class="navbar-custom-menu navbar-left">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink(ApplicantWeb.App_LocalResources.Applicant.Contacts, "Contact", "Home")</li>
                            <li>@Html.ActionLink(ApplicantWeb.App_LocalResources.Applicant.FAQ, "FAQ", "Home")</li>
                        </ul>
                    </div>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-9">
                        <p>
                            &copy; @DateTime.Now.Year – @ApplicantWeb.App_LocalResources.Applicant.Footer
                        </p>
                    </div>
                        @Html.Action("Details", "Languages")
                </div>
            </div>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
    <script src="~/Scripts/loaded.js"></script>
</body>
</html>
