@model Applicant.Models.History
@Styles.Render("~/Content/fileinput")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/fileinput")

@{
    ViewBag.Title = "Подробнее о собеседовании";
}

<div class="media">

    <div class="media-body">
        <h3 class="media-heading">Подробнее</h3>
    </div>
    <div class="media-left">
        <a class="btn btn-default btn-md media-object" style="margin:0px;margin-bottom:10px;margin-top:10px;" href="@Url.Action("Details", "Applicants", new { id=Model.ApplicantId})">
            <i class="glyphicon glyphicon-list-alt"></i>
            Назад к соискателю
        </a>
    </div>
</div>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.ApplicantId)
<div class="row">
    <div class="col-md-7">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">О собеседовании</h4>
                    </div>
                    <div class="media-right">
                        <a class="btn btn-primary btn-sm media-object" href="@Url.Action("Edit", new { id = Model.HistoryId })">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                    </div>
                </div>
            </div>
            <table class="table table-bordered cf">
                <tr>
                    <th class="navbar-default">@Html.DisplayNameFor(model => model.CommunicationDate)</th>
                    <td>@Html.DisplayFor(model => model.CommunicationDate)</td>
                </tr>
                <tr>
                    <th class="navbar-default">@Html.DisplayNameFor(model => model.TypeCommunication)</th>
                    <td>@Html.DisplayFor(model => model.TypeCommunication)</td>
                </tr>
                <tr>
                    <th class="navbar-default">@Html.DisplayNameFor(model => model.HistoryComments)</th>
                    <td>@Html.DisplayFor(model => model.HistoryComments)</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingAttach">
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Документы</h4>
                    </div>
                    <div class="media-right">
                        <a class="btn btn-success btn-sm media-object" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAttach" aria-expanded="true" aria-controls="collapseAttach">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="collapseAttach" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingAttach">
                <div class="panel-body">
                    @Html.Partial("~/Views/Attachments/PartialLoadToHistory.cshtml", Model)
                </div>
            </div>
            <div id="tableAttachments">
                @Html.Partial("~/Views/Attachments/PartialListToHistory.cshtml", Model.Attachments.ToList())
            </div>
        </div>
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    }
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    </div>
