@model Applicant.Models.History
@Styles.Render("~/Content/fileinput")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/fileinput")

@{
    ViewBag.Title = "Подробнее о собеседовании";
}

<h2>Подробнее</h2>

<div>
    <h4>Собеседования</h4>
    <hr />
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model=>Model.ApplicantId)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CommunicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommunicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeCommunication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeCommunication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HistoryComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HistoryComments)
        </dd>
        <dt>
            Документы
        </dt>

        <dd>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTags">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTags" aria-expanded="true" aria-controls="collapseTags">
                                Загрузить новый документ
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTags" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTags">
                        <div class="panel-body">
                            @Html.Partial("~/Views/Attachments/PartialLoadToHistory.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>

            <div id="tableAttachments">
                @Html.Partial("~/Views/Attachments/PartialListToHistory.cshtml", Model.Attachments.ToList())
            </div>
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-default btn-md" href="@Url.Action("Edit", "Histories", new { id = Model.HistoryId })">
        <i class="glyphicon glyphicon-edit"></i>
        Править
    </a>
    <a class="btn btn-default btn-md" href="@Url.Action("Details", "Applicants", new { id=Model.ApplicantId})">
        <i class="glyphicon glyphicon-list-alt"></i>
        Назад к соискателю
    </a>
</p>
@section Scripts {
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>