@model Applicant.Models.History

@{
    ViewBag.Title = "Details";
}

<h2>Подробнее</h2>

<div>
    <h4>Собеседования</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CommunicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommunicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeCommunication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeCommunication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HistoryComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HistoryComments)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-default btn-md" href="@Url.Action("Edit", "Histories", new { id = Model.HistoryId })">
        <i class="glyphicon glyphicon-edit"></i>
        Править
    </a>
    <a class="btn btn-default btn-md" href="@Url.Action("Index")">
        <i class="glyphicon glyphicon-list-alt"></i>
        К списку
    </a>
</p>
