@model ApplicantWeb.Models.History

@{
    ViewBag.Title = ApplicantWeb.App_LocalResources.History.EditingInterviewHistory;
}
<header>
    <h2>@ApplicantWeb.App_LocalResources.History.EditingInterviewHistory</h2>
</header>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.HistoryId)
        <div class="form-group">
            @Html.LabelFor(model => model.CommunicationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CommunicationDate, new { htmlAttributes = new { @class = "form-control short", 
               @Value = Model.CommunicationDate.Year + 
               "-" + ((Model.CommunicationDate.Month >= 10) ? Model.CommunicationDate.Month+"" :("0"+ Model.CommunicationDate.Month)) +
               "-" + (Model.CommunicationDate.Day >= 10 ? Model.CommunicationDate.Day + "" :"0"+ Model.CommunicationDate.Day)}})
                @Html.ValidationMessageFor(model => model.CommunicationDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TypeCommunication, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.TypeCommunication == 0) { 
                <select id="TypeCommunication" name="TypeCommunication" class="form-control short" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <option selected value="0">@ApplicantWeb.App_LocalResources.History.Skype</option>
                    <option value="1">@ApplicantWeb.App_LocalResources.History.Interview</option>
                </select>
                }
                else
                {
                    <select id="TypeCommunication" name="TypeCommunication" class="form-control short" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <option  value="0">@ApplicantWeb.App_LocalResources.History.Skype</option>
                        <option selected value="1">@ApplicantWeb.App_LocalResources.History.Interview</option>
                    </select>
                }
                @Html.ValidationMessageFor(model => model.TypeCommunication, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HistoryComments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.EditorFor(model => model.HistoryComments, new { htmlAttributes = new { @class = "form-control noresizehorizontal short" } })
            @Html.ValidationMessageFor(model => model.HistoryComments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success btn-sm" value="Save">
                    <i class="glyphicon glyphicon-ok"></i>
                    @ApplicantWeb.App_LocalResources.Applicant.Save
                </button>
                <a class="btn btn-default btn-sm" href="@Url.Action("Details","Histories", new { id = Model.HistoryId })">
                    <i class="glyphicon glyphicon-share-alt"></i>
                    @ApplicantWeb.App_LocalResources.History.BackToHistory
                </a>
            </div>
        </div> 
    </div>
}



    @Scripts.Render("~/bundles/jqueryval")
