@model IEnumerable<Applicant.Models.History>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommunicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeCommunication)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HistoryComments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CommunicationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeCommunication)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HistoryComments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HistoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HistoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HistoryId })
        </td>
    </tr>
}

</table>
