@model IEnumerable<Applicant.Models.History>
<table class="table">
    <tr class="row">
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.CommunicationDate)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.TypeCommunication)
        </th>
        <th class="col-md-6">
            @Html.DisplayNameFor(model => model.HistoryComments)
        </th>
        <th class="col-md-2"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="row">
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.CommunicationDate)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.TypeCommunication)
            </td>
            <td class="col-md-6">
                @if (item.HistoryComments != null && item.HistoryComments.Length > 50)
                {
                    @Html.DisplayFor(modelItem => item.HistoryComments).ToString().Substring(0, 20);
                    <div>...</div>

                }
                else
                {
                    @Html.DisplayFor(modelItem => item.HistoryComments);
                }
            </td>
            <td class="col-md-2">
                <div class="btn-toolbar">
                    <a class="btn btn-primary col-md-12 btn-sm" href="@Url.Action("Edit", "Histories", new { id = item.HistoryId })">
                        <i class="glyphicon glyphicon-edit"></i>
                        Править
                    </a>
                    <a class="btn btn-info col-md-12 btn-sm" href="@Url.Action("Details", "Histories", new { id = item.HistoryId }) ">
                        <i class=" glyphicon glyphicon-list-alt">
                        </i>
                        Подробнее
                    </a>
                    <button class="btn btn-danger col-md-12 btn-sm" onclick="delHis(@item.HistoryId)" type="submit" value="Удалить" data-toggle="modal" data-target="#myModal">
                        <i class="glyphicon glyphicon-remove-circle"></i>
                        Удалить
                    </button>
                </div>

            </td>
        </tr>
    }
</table>
<script>
    function delHis(id) {
        $.ajax({
            url: "@Url.Action("Delete", "Histories")",
            data: "id=" + id,
            success: function (html) {
                $("#myModal").empty();
                $("#myModal").append(html);
            }
        });
    }
</script>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>