@model Applicant.Models.HistoryCreate

@using (Ajax.BeginForm("Create", "Histories", new AjaxOptions { UpdateTargetId = "tableHistories", OnSuccess = "clear()" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ApplicantId)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.CommunicationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.CommunicationDate, new { htmlAttributes = new { @class = "form-control short" } })
                @Html.ValidationMessageFor(model => model.CommunicationDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.TypeCommunication, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            
            <div class="col-md-9">
                @Html.EnumDropDownListFor(model => model.TypeCommunication, htmlAttributes: new { @class = "form-control short" })
                @Html.ValidationMessageFor(model => model.TypeCommunication, "", new { @class = "text-danger" })
            </div>
         </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.HistoryComments, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            
                <div class="col-md-9">
                    @Html.EditorFor(model => model.HistoryComments, new { htmlAttributes = new { @class = "form-control noresizehorizontal short" } })
                    @Html.ValidationMessageFor(model => model.HistoryComments, "", new { @class = "text-danger" })
                </div>
            </div>
        <div class="form-group ">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary btn-md" type="submit" value="Create">
                    <i class="glyphicon glyphicon-plus"></i>
                    Добавить
                </button>
            </div>
        </div>
    </div>
}
<script>
    function clear() {
        $('#HistoryComments').val("");
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
