@model Applicant.Models.TagCreate
@using (Ajax.BeginForm("Create", "Tags", new AjaxOptions { UpdateTargetId = "tags", OnSuccess = "$('#reset').click()" }))
{
    @Html.AntiForgeryToken()
    <div class="input-group" style="margin:5px;margin-bottom:10px">
        @Html.HiddenFor(model => Model.ApplicantId)
        @Html.HiddenFor(model => Model.TagId)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.EditorFor(model => model.TagName, new { htmlAttributes = new { id = "myForm", @type = "text", @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.TagName, "", new { @class = "text-danger" })
        <div class="input-group-btn">
            <button id="reset" type="reset" class="btn btn-default" formtarget="myForm">X</button>
            <button type="submit" value="Create" class="btn btn-default btn-md">
                <i class="glyphicon glyphicon-plus"></i>
                Добавить
            </button>
        </div>
    </div>
}
