@model Applicant.Models.TagCreate
@using (Ajax.BeginForm("Create", "Tags", new AjaxOptions { UpdateTargetId = "tags", OnSuccess = "$('#reset').click()" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => Model.ApplicantId)
    @Html.HiddenFor(model => Model.TagId)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="input-group input-group-sm">
        @Html.EditorFor(model => model.TagName, new { htmlAttributes = new { id = "myForm", @type = "text", @class = "form-control", @placeholder = "Добавить тег" } })
        <div class="input-group-btn ">
            <button id="reset" type="reset" class="btn btn-default btn-sm " formtarget="myForm">
                <i class="glyphicon glyphicon-erase"></i>
            </button>
            <button type="submit" value="Create" class="btn btn-success btn-sm">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </div>
    </div>
    <div>
        @Html.ValidationMessageFor(model => model.TagName, "", new { @class = "text-danger" })
    </div>
}
