@model IEnumerable<Applicant.Models.Attachment>

<table class="table table-hover" style="margin:0px">
    @foreach (var item in Model)
    {
        <tr class="row">
            <td class="col-md-9">@Html.DisplayFor(modelItem => item.Name)</td>
            <td class="col-md-3">
                <a class="btn btn-info col-md-12 btn-sm" href="@Url.Action("Download", "Attachments", new { id = item.AttachmentId, applicantId = item.ApplicantId })">
                    <i class="glyphicon glyphicon-download"></i>
                    Загрузить
                </a>
                <button class="btn btn-danger col-md-12 btn-sm" type="submit" value="Удалить" data-toggle="modal" data-target="#myModal" onclick="delAttach(@item.AttachmentId)">
                    <i class="glyphicon glyphicon-remove-circle"></i>
                    Удалить
                </button>
                @if (item.ApplicantId == null)
                {
                    <button class="btn btn-default" onclick="addToApplicant(@item.AttachmentId)">Добавить к соискателю</button>
                }
                else if (item.HistoryId != null)
                {
                    <button type="submit" class="btn btn-default" onclick="deleteToApplicantToHistory(@item.AttachmentId)">Удалить из соискателя</button>
                }
            </td>
        </tr>
    }
</table>
<script>
    function addToApplicant(attachmentId) {
        $.ajax({
            url: "@Url.Action("AddToApplicant", "Attachments")",
            data: "attachmentId=" + attachmentId,
            success: function (html) {
                $("#tableAttachments").empty();
                $("#tableAttachments").append(html);
            }
        });
    }
    function deleteToApplicantToHistory(attachmentId) {
        $.ajax({
            url: "@Url.Action("DeleteToApplicant", "Attachments")",
            data: "attachmentId=" + attachmentId,
        success: function (html) {
            $("#tableAttachments").empty();
            $("#tableAttachments").append(html);
        }
    });
    }
    function delAttach(id) {
        $.ajax({
            url: "@Url.Action("Delete", "Attachments")",
            data: "id=" + id,
        success: function (html) {
            $("#myModal").empty();
            $("#myModal").append(html);
        }
    });
    }
</script>
@section Scripts {
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}