@model ApplicantWeb.Models.Applicant
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<table id="listAttachments" class="table table-bordered table-hover " cellspacing="0">
    <thead>
        <tr>
            <th>@ApplicantWeb.App_LocalResources.Attachment.Title</th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#listAttachments').DataTable({
            "ajax": "/../../Attachments/List/"+@Model.ApplicantId,
            "columns": [
                { "data": "Название", },
                { "data": "УдалениеДобавление", }
            ],
            "language": {
                "search": "@ApplicantWeb.App_LocalResources.Applicant.Search",
                "decimal": "@ApplicantWeb.App_LocalResources.Applicant.Decimal",
                "emptyTable": "@ApplicantWeb.App_LocalResources.Applicant.EmptyTable",
                "info": "@ApplicantWeb.App_LocalResources.Applicant.Info",
                "infoEmpty": "@ApplicantWeb.App_LocalResources.Applicant.InfoEmpty",
                "infoFiltered": "@ApplicantWeb.App_LocalResources.Applicant.InfoFiltered",
                "infoPostFix": "@ApplicantWeb.App_LocalResources.Applicant.InfoPostFix",
                "thousands": "@ApplicantWeb.App_LocalResources.Applicant.Thousands",
                "lengthMenu": "@ApplicantWeb.App_LocalResources.Applicant.LengthMenu",
                "loadingRecords": "@ApplicantWeb.App_LocalResources.Applicant.LoadingRecords",
                "processing": "@ApplicantWeb.App_LocalResources.Applicant.Processing",
                "zeroRecords": "@ApplicantWeb.App_LocalResources.Applicant.ZeroRecords",
                "paginate": {
                    "first": "@ApplicantWeb.App_LocalResources.Applicant.PaginateFirst",
                    "last": "@ApplicantWeb.App_LocalResources.Applicant.PaginateLast",
                    "next": "@ApplicantWeb.App_LocalResources.Applicant.PaginateNext",
                    "previous": "@ApplicantWeb.App_LocalResources.Applicant.PaginatePrevious"
                },
                "aria": {
                    "sortAscending": "@ApplicantWeb.App_LocalResources.Applicant.AriaSortAscending",
                    "sortDescending": "@ApplicantWeb.App_LocalResources.Applicant.AriaSortDescending"
                }
            }
        });
        $('#listAttachments tbody').on('click', 'tr', function () {
            if ($(this).hasClass('info')) {
                $(this).removeClass('info');
            }
            else {
                table.$('tr.info').removeClass('info');
                $(this).addClass('info');
            }
        });
    });
</script>
<script>
    function toAva(attachmentId){
        $.ajax({
            url: "@Url.Action("AttachmentToAva", "Applicants")",
            data: "idAttachment=" + attachmentId,
        success: function (html) {
            $("#photo").empty();
            $("#photo").append(html);
        }
    });
    }
    function addToApplicant(attachmentId) {
        $.ajax({
            url: "@Url.Action("AddToApplicant", "Attachments")",
            data: "attachmentId=" + attachmentId,
            success: function (html) {
                $("#tableAttachments").empty();
                $("#tableAttachments").append(html);
            }
        });
    }
    function deleteToApplicantToHistory(attachmentId) {
        $.ajax({
            url: "@Url.Action("DeleteToApplicant", "Attachments")",
            data: "attachmentId=" + attachmentId,
            success: function (html) {
                $("#tableAttachments").empty();
                $("#tableAttachments").append(html);
            }
        });
    }
    function delAttach(id) {
        $.ajax({
            url: "/Attachments/Delete/",
            data: "id=" + id,
            success: function (html) {
                $("#myModal").empty();
                $("#myModal").append(html);
            }
        });
    }
</script>