@model ApplicantWeb.Models.Attachment

<div class="modal-dialog" role="document">
    <div class="modal-content modal-primary">
        <div class="modal-header">
            <h4>@ApplicantWeb.App_LocalResources.Attachment.WantDeleteAttachment</h4>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>
        </div>
        <div class="modal-footer">
            @using (Ajax.BeginForm("Delete", "Attachments", new { id = Model.AttachmentId, applicantId = Model.ApplicantId }, new AjaxOptions { UpdateTargetId = "tableAttachments" }))
            {
                @Html.AntiForgeryToken()
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" aria-label="Close"><i class="glyphicon glyphicon-ban-circle"></i> @ApplicantWeb.App_LocalResources.Applicant.Cancel</button>
                <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-remove"></i> @ApplicantWeb.App_LocalResources.Applicant.Delete</button>
            }
        </div>
    </div>
</div>