@model ApplicantWeb.Models.Attachment

<div class="modal-dialog" role="document">
    <div class="modal-content modal-primary">
        <div class="modal-header">
            <h4>@ApplicantWeb.App_LocalResources.Attachment.WantDeleteAttachment</h4>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>
        </div>
        <div class="modal-footer">
            @using (Ajax.BeginForm("Delete", "Attachments", new { id = Model.AttachmentId, applicantId = Model.ApplicantId }, new AjaxOptions { UpdateTargetId = "tableAttachments" }))
            {
                @Html.AntiForgeryToken()
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" aria-label="Close">@ApplicantWeb.App_LocalResources.Applicant.Cancel</button>
                <input type="submit" class="btn btn-danger" value="@ApplicantWeb.App_LocalResources.Applicant.Delete" data-toggle="modal" data-target="#myModal" />
            }
        </div>
    </div>
</div>