@model Applicant.Models.Applicant
@Styles.Render("~/Content/fileinput")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/fileinput")


@{
    ViewBag.Title = "Подробнее о соискателе: " + Html.DisplayFor(model => model.FirstName) + " "
            + Html.DisplayFor(model => model.MiddleName) + " "
            + Html.DisplayFor(model => model.LastName);
}

<link media="only screen and (max-device-width: 950px)" href="~/Content/Site.css" rel="stylesheet" />


<div class="row">
    <div class="col-md-12">
        <h4>Подробнее о соискателе</h4>
        <div class="media">
            <div class="media-body">
                <h2 class="media-heading">
                    @Html.DisplayFor(model => model.FirstName)
                    @Html.DisplayFor(model => model.MiddleName)
                    @Html.DisplayFor(model => model.LastName)
                    
                </h2>
                
            </div>
            
            <div class="media-right media-middle">
                <a class="btn btn-default media-object btn-sm" href="@Url.Action("Index")">
                    <i class="glyphicon glyphicon-th-list"></i>
                    К списку
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        @Html.Partial("~/Views/Applicants/PartialTags.cshtml", Model)
    </div>
</div>
    <div class="row">
        <div class="col-md-4">
                @Html.Partial("~/Views/Applicants/PartialProfile.cshtml", Model)
                @Html.Partial("~/Views/Applicants/PartialContacts.cshtml", Model)
                @Html.Partial("~/Views/Applicants/PartialWebPages.cshtml", Model)
            <a class="btn btn-danger btn-sm media-object" href="@Url.Action("Delete", new { id = Model.ApplicantId })">
                Удалить соискателя
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </div>
        <div class="col-md-8">
            @Html.Partial("~/Views/Applicants/PartialAttachments.cshtml", Model)
            @Html.Partial("~/Views/Applicants/PartialHistories.cshtml", Model)
        </div>
    </div>


@section Scripts {
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>