@model Applicant.Models.Applicant
@Styles.Render("~/Content/fileinput")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/fileinput")


@{
    ViewBag.Title = "Подробнее о соискателе";
}

<link media="only screen and (max-device-width: 950px)" href="~/Content/Site.css" rel="stylesheet" />
<h4>Подробнее о соискателе</h4>
<div class="row">
    <div class="col-lg-8">
        <h2 style="margin: 0;">
            @Html.DisplayFor(model => model.FirstName)
            @Html.DisplayFor(model => model.MiddleName)
            @Html.DisplayFor(model => model.LastName)
        </h2>
    </div>
    <div class="col-md-4">
        <div>
            <a class="btn btn-success btn-md" href="@Url.Action("Edit", new { id = Model.ApplicantId })">
                <i class="glyphicon glyphicon-pencil"></i>
                Редактировать данные
            </a>
            <a class="btn btn-success btn-md" href="@Url.Action("Index")">
                <i class="glyphicon glyphicon-th-list"></i>
                К списку
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div id="tags" class="span7">
                <br />
                @Html.Partial("~/Views/Tags/PartialList.cshtml", new Applicant.Models.TagList() { ApplicantId = Model.ApplicantId, Tags = Model.Tags })
            </div>
            <table class="table table-hover">
                <caption>
                    <h4>Личные данные</h4>
                </caption>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Gender)</th>
                    <th>@Html.DisplayFor(model => model.Gender)</th>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Birthday)</th>
                    <th>@Html.DisplayFor(model => model.Birthday)</th>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Residence)</th>
                    <th>@Html.DisplayFor(model => model.Residence)</th>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Salary)</th>
                    <th>@Html.DisplayFor(model => model.Salary)</th>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Comments)</th>
                    <th>@Html.DisplayFor(model => model.Comments)</th>
                </tr>
            </table>
            <table class="dl-horizontal">
                <caption><h4>Собеседования</h4></caption>
                <tr>
                    <th class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingHis">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseHis" aria-expanded="true" aria-controls="collapseHis">
                                        Добавить новую встречу
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseHis" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingHis">
                                <div class="panel-body">
                                    @Html.Partial("~/Views/Histories/PartialCreate.cshtml", new Applicant.Models.HistoryCreate() { ApplicantId = Model.ApplicantId })
                                </div>
                            </div>
                    </th>
                </tr>
                <tr>
                    <th id="tableHistories">

                        @Html.Action("List", "Histories", new { applicantId = Model.ApplicantId })
                    </th>
                </tr>
            </table>
        </div>

        <div class="col-md-5">
            <br />

            <div class="panel-group " id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTag">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTag" aria-expanded="true" aria-controls="collapseTag">
                                Добавить новый тег
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTag" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTag">
                        <div class="panel-body">
                            @Html.Partial("~/Views/Tags/PartialCreate.cshtml", new Applicant.Models.TagCreate() { ApplicantId = Model.ApplicantId })
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Контактные данные</h4>
                </div>

                <table class="table table-hover table-bordered">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Email)</th>
                        <th>@Html.DisplayFor(model => model.Email)</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Skype)</th>
                        <th>@Html.DisplayFor(model => model.Skype)</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.GitHub)</th>
                        <th>@Html.DisplayFor(model => model.GitHub)</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Linkedin)</th>
                        <th>@Html.DisplayFor(model => model.Linkedin)</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Phone)</th>
                        <th>@Html.DisplayFor(model => model.Phone)</th>
                    </tr>
                </table>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Документы</h4>
                </div>

                <div class="panel panel-default" style="margin-bottom:-1px;">
                    <div class="panel-heading" role="tab" id="headingAttach">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAttach" aria-expanded="true" aria-controls="collapseAttach">
                                Загрузить новый документ
                            </a>
                        </h4>
                    </div>
                    <div id="collapseAttach" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingAttach">
                        <div class="panel-body">
                            @Html.Partial("~/Views/Attachments/PartialLoad.cshtml", Model.ApplicantId)
                        </div>
                    </div>
                </div>

                <div id="tableAttachments">
                    @Html.Partial("~/Views/Attachments/PartialList.cshtml", Model.Attachments.ToList())
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>