@model Applicant.Models.Applicant
@Styles.Render("~/Content/fileinput")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/fileinput")


@{
    ViewBag.Title = "Подробнее о соискателе: " + Html.DisplayFor(model => model.FirstName) + " "
            + Html.DisplayFor(model => model.MiddleName) + " "
            + Html.DisplayFor(model => model.LastName);
}

<link media="only screen and (max-device-width: 950px)" href="~/Content/Site.css" rel="stylesheet" />


<div class="row">
    <div class="col-md-12">
        <h4>Подробнее о соискателе</h4>
        <div class="media">
            <div class="media-body">
                <h2 class="media-heading">
                    @Html.DisplayFor(model => model.FirstName)
                    @Html.DisplayFor(model => model.MiddleName)
                    @Html.DisplayFor(model => model.LastName)
                </h2>
            </div>
            <div class="media-right media-middle">
                <a class="btn btn-default media-object btn-sm" href="@Url.Action("Index")">
                    <i class="glyphicon glyphicon-th-list"></i>
                    К списку
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div id="tags" style="margin-bottom:10px;">
            @Html.Partial("~/Views/Tags/PartialList.cshtml", new Applicant.Models.TagList() { ApplicantId = Model.ApplicantId, Tags = Model.Tags })
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">Личные данные</h4>
                            </div>
                            <div class="media-right">
                                <a class="btn btn-primary btn-sm media-object" href="@Url.Action("Edit", new { id = Model.ApplicantId })">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered cf">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Gender)</th>
                        </tr>
                        <tr>
                            <td>@Html.DisplayFor(model => model.Gender)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Birthday)</th>
                        </tr>
                        <tr>
                            <td>
                                @{
                                    int YearsPassed = DateTime.Now.Year - Model.Birthday.Year;
                                    if (DateTime.Now.Month < Model.Birthday.Month || (DateTime.Now.Month == Model.Birthday.Month && DateTime.Now.Day < Model.Birthday.Day))
                                    {
                                        YearsPassed--;
                                    }
                                    string strYears = "";
                                    if (YearsPassed > 16)
                                    {
                                        if (YearsPassed % 10 == 1)
                                        {
                                            strYears = "(" + @YearsPassed + " год)";
                                        }
                                        else if (YearsPassed % 10 < 5)
                                        {
                                            strYears = "(" + @YearsPassed + " года)";
                                        }
                                        else
                                        {
                                            strYears = "(" + @YearsPassed + " лет)";
                                        }
                                    }
                                }
                                @Html.DisplayFor(model => model.Birthday) @strYears

                            </td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Residence)</th>
                        </tr>
                        <tr>
                            <td>@Html.DisplayFor(model => model.Residence)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Salary)</th>
                        </tr>
                        <tr>
                            <td>@Int32.Parse(Model.Salary.ToString())p.</td>
                        </tr>
                        @if (Model.Comments != null)
                        {
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Comments)</th>
                            </tr>
                            <tr>
                                <td>@Html.DisplayFor(model => model.Comments)</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="col-md-8">
                <div class=" panel panel-info">
                    <div class="panel-heading">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">Собеседования</h4>
                            </div>
                            <div class="media-right media-middle">
                                <h5 class="btn btn-success btn-sm media-object" style="margin:0px;" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            @Html.Partial("~/Views/Histories/PartialCreate.cshtml", new Applicant.Models.HistoryCreate() { ApplicantId = Model.ApplicantId })
                        </div>
                    </div>
                    <div id="tableHistories">
                        @Html.Action("List", "Histories", new { applicantId = Model.ApplicantId })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        @Html.Partial("~/Views/Tags/PartialCreate.cshtml", new Applicant.Models.TagCreate() { ApplicantId = Model.ApplicantId })

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Контактные данные</h4>
                    </div>
                    <div class="media-right">
                        <a class="btn btn-primary btn-sm media-object" href="@Url.Action("Edit", new { id = Model.ApplicantId })">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                    </div>
                </div>
            </div>

            <table class="table table-condensed  table-hover cf">
                <tr>
                    <th class="navbar-default">@Html.DisplayNameFor(model => model.Email)</th>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <th class="navbar-default">@Html.DisplayNameFor(model => model.Phone)</th>
                    <td>@Html.DisplayFor(model => model.Phone)</td>
                </tr>
                @if (Model.Skype != null)
                {
                    <tr>
                        <th class="navbar-default">@Html.DisplayNameFor(model => model.Skype)</th>
                        <td>@Html.DisplayFor(model => model.Skype)</td>
                    </tr>
                }
            </table>
        </div>
        @if (Model.WebSite != null || Model.GitHub != null || Model.Linkedin != null || Model.Facebook != null || Model.VKontakte != null)
        {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">Web-страницы</h4>
                        </div>
                        <div class="media-right">
                            <a class="btn btn-primary btn-sm media-object" href="@Url.Action("Edit", new { id = Model.ApplicantId })">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <table class="table table-striped table-condensed cf">
                    @if (Model.WebSite != null)
                    {
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.WebSite)</th>
                        </tr>
                        <tr>
                            <td>@Html.DisplayFor(model => model.WebSite)</td>
                        </tr>
                    }
                    @if (Model.GitHub != null)
                    {
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.GitHub)</th>
                        </tr>
                        <tr>
                            <td>@Html.DisplayFor(model => model.GitHub)</td>
                        </tr>
                    }
                    @if (Model.Linkedin != null)
                    {
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Linkedin)</th>
                        </tr>
                        <tr>
                            <td>@Html.DisplayFor(model => model.Linkedin)</td>
                        </tr>
                    }
                    @if (Model.Facebook != null)
                    {
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Facebook)</th>
                        </tr>
                        <tr>
                            <td>@Html.DisplayFor(model => model.Facebook)</td>
                        </tr>
                    }
                    @if (Model.VKontakte != null)
                    {
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.VKontakte)</th>
                        </tr>
                        <tr>
                            <td>@Html.DisplayFor(model => model.VKontakte)</td>
                        </tr>
                    }
                </table>
            </div>
        }
        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingAttach">
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Документы</h4>
                    </div>
                    <div class="media-right">
                        <a class="btn btn-success btn-sm media-object" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAttach" aria-expanded="true" aria-controls="collapseAttach">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="collapseAttach" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingAttach">
                <div class="panel-body">
                    @Html.Partial("~/Views/Attachments/PartialLoad.cshtml", Model.ApplicantId)
                </div>
            </div>
            <div id="tableAttachments">
                @Html.Partial("~/Views/Attachments/PartialList.cshtml", Model.Attachments.ToList())
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>