@model ApplicantWeb.Models.Applicant
@Styles.Render("~/Content/fileinput")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/fileinput")
@{
    ViewBag.Title = @ApplicantWeb.App_LocalResources.Applicant.AboutApplicant + Html.DisplayFor(model => model.FirstName) + " "
            + Html.DisplayFor(model => model.MiddleName);
}

<link media="only screen and (max-device-width: 950px)" href="~/Content/Site.css" rel="stylesheet" />
<header>
    <h2>@ApplicantWeb.App_LocalResources.Applicant.AboutApplicant</h2>
</header>

<div class="row">
    <div class="col-md-4">
        <div class="box box-primary">
            <div class=" box-body">
                <div id="photo">
                    @Html.Action("Photo", new { idApplicant = Model.ApplicantId })
                </div>
                <h3 class="profile-username text-center">
                    @Html.DisplayFor(model => model.FirstName)
                    @Html.DisplayFor(model => model.MiddleName)
                </h3>
                <p class="text-muted text-center">@Html.DisplayFor(model => model.BaseProfileJob)</p>
                <strong><i class="fa fa-pencil margin-r-5"></i>@ApplicantWeb.App_LocalResources.Tag.Skills</strong>
                @Html.Partial("~/Views/Applicants/PartialTags.cshtml", Model)
            </div>
        </div>
        <div class="box box-primary">
            <div class=" box-header">
                <h4 class="media-heading">
                    @ApplicantWeb.App_LocalResources.Applicant.InformationAboutTheApplicant
                    <button class="btn btn-primary pull-right btn-sm" title=@ApplicantWeb.App_LocalResources.Applicant.EditPersonalData href="@Url.Action("Edit", new { id = Model.ApplicantId }) ">
                        <i class=" glyphicon glyphicon-edit"></i>
                    </button>
                </h4>
            </div>
            <div class="box-body">
                @Html.Partial("~/Views/Applicants/PartialProfile.cshtml", Model)
                
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#histories" data-toggle="tab" aria-expanded="true">@ApplicantWeb.App_LocalResources.History.Histories</a>
                </li>
                <li>
                    <a href="#attachments" data-toggle="tab" aria-expanded="false">@ApplicantWeb.App_LocalResources.Attachment.Attachments</a>
                </li>
                <li>
                    <a href="#contacts" data-toggle="tab" aria-expanded="false">@ApplicantWeb.App_LocalResources.Applicant.Contacts</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="histories">
                    @Html.Partial("~/Views/Applicants/PartialHistories.cshtml", Model)
                </div>
                <div class="tab-pane" id="attachments">
                    @Html.Partial("~/Views/Applicants/PartialAttachments.cshtml", Model)
                </div>
                <div class="tab-pane" id="contacts">
                    @Html.Partial("~/Views/Applicants/PartialContacts.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <a class="btn btn-danger pull-left btn-sm" href="@Url.Action("Delete", new { id = Model.ApplicantId })">
            <i class="glyphicon glyphicon-remove"></i> @ApplicantWeb.App_LocalResources.Applicant.DeleteApplicant
        </a>
        <a class="btn btn-default pull-right btn-sm" href="@Url.Action("Index")">
            <i class="glyphicon glyphicon-share-alt"></i> @ApplicantWeb.App_LocalResources.Applicant.ToApplicants
        </a>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>

@section Scripts {
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}