@model Applicant.Models.Applicant
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap-tags")
@Scripts.Render("~/bundles/fileinput")
@Styles.Render("~/Content/fileinput")
@Styles.Render("~/Content/bootstrap-tags")

@{
    ViewBag.Title = "Details";
}

<h2>Подробнее о соискателе</h2>
<p>
    <div>
        <a class="btn btn-default btn-md" href="@Url.Action("Edit", new { id = Model.ApplicantId })">
            <i class="glyphicon glyphicon-pencil"></i>
            Редактировать данные
        </a>
        <a class="btn btn-default btn-md" href="@Url.Action("Index")">
            <i class="glyphicon glyphicon-th-list"></i>
            К списку
        </a>
    </div>
</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Residence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Residence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GitHub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GitHub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Linkedin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Linkedin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt>Теги</dt>
        <dd>
            <div id="tags">
                @Html.Partial("~/Views/Tags/PartialList.cshtml", Model.Tags)
            </div>
            @Html.Partial("~/Views/Tags/PartialCreate.cshtml", new Applicant.Models.TagCreate() { ApplicantId = Model.ApplicantId })

        </dd>
        <dt>
            Документы
        </dt>
        <dd>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTags">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTags" aria-expanded="true" aria-controls="collapseTags">
                                Загрузить новый документ
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTags" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTags">
                        <div class="panel-body">
                            @Html.Partial("~/Views/Attachments/PartialLoad.cshtml", Model.ApplicantId)
                        </div>
                    </div>
                </div>
            </div>

            <div id="tableAttachments">
                @Html.Partial("~/Views/Attachments/PartialList.cshtml", Model.Attachments.ToList())
            </div>
        </dd>

        <dt>Собеседования</dt>
        <dd>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingDocs">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDocs" aria-expanded="true" aria-controls="collapseDocs">
                                Добавить новую встречу
                            </a>
                        </h4>
                    </div>
                    <div id="collapseDocs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDocs">
                        <div class="panel-body">
                            @Html.Partial("~/Views/Histories/PartialCreate.cshtml", new Applicant.Models.HistoryCreate() { ApplicantId = Model.ApplicantId })
                        </div>
                    </div>
                </div>
            </div>
            <div id="tableHistories">
                @Html.Action("List", "Histories", new { applicantId = Model.ApplicantId })
            </div>
        </dd>
    </dl>
</div>

@section Scripts {
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}