@model ApplicantWeb.Models.Applicant

@{
    ViewBag.Title = @ApplicantWeb.App_LocalResources.Applicant.EditPersonalData;
}

<h2>@ApplicantWeb.App_LocalResources.Applicant.EditPersonalData</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ApplicantId)
        <h3>@ApplicantWeb.App_LocalResources.Applicant.PersonalData</h3>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group ">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control short" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control short" } })
                        @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.BaseProfileJob, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.BaseProfileJob, new { htmlAttributes = new { @class = "form-control short" } })
                        @Html.ValidationMessageFor(model => model.BaseProfileJob, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control short" } })
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">

                        @if (Model.Gender == 0)
                        {
                            <input id="Gender" name="Gender" hidden="hidden" value="0" />
                            <a id="Male" class="btn btn-primary" onclick="toMale()">♂</a>
                            <a id="Female" class="btn btn-default " onclick="toFemale()">♀</a>
                        }
                        else
                        {
                            <input id="Gender" name="Gender" hidden="hidden" value="1" />
                            <a id="Male" class="btn btn-default" onclick="toMale()">♂</a>
                            <a id="Female" class="btn btn-danger" onclick="toFemale()">♀</a>
                        }

                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Birthday, new
           {
               htmlAttributes = new
               {
                   @class = "form-control short",
                   @Value = Model.Birthday.Year +
                       "-" + ((Model.Birthday.Month >= 10) ? Model.Birthday.Month + "" : ("0" + Model.Birthday.Month)) +
                       "-" + (Model.Birthday.Day >= 10 ? Model.Birthday.Day + "" : "0" + Model.Birthday.Day)
               }
           })
                        @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.TypeСooperation, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <select id="TypeСooperation" name="TypeСooperation" class="form-control short" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @if (Model.TypeСooperation == 0)
                            {
                                <option selected value="0">@ApplicantWeb.App_LocalResources.Applicant.PersonalPresence</option>
                                <option value="1">@ApplicantWeb.App_LocalResources.Applicant.Remote</option>
                            }
                            else
                            {
                                <option value="0">@ApplicantWeb.App_LocalResources.Applicant.PersonalPresence</option>
                                <option selected value="1">@ApplicantWeb.App_LocalResources.Applicant.Remote</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.TypeСooperation, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.TypeEmployment, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <select id="TypeEmployment" name="TypeEmployment" class="form-control short" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @switch (Model.TypeEmployment)
                            {
                                case 0:
                                    <option selected value="0">@ApplicantWeb.App_LocalResources.Applicant.FullTime</option>
                                    <option value="1">@ApplicantWeb.App_LocalResources.Applicant.PartTime</option>
                                    <option value="2">@ApplicantWeb.App_LocalResources.Applicant.OneTime</option>
                                    break;
                                case 1:
                                <option value="0">@ApplicantWeb.App_LocalResources.Applicant.FullTime</option>
                                <option selected value="1">@ApplicantWeb.App_LocalResources.Applicant.PartTime</option>
                                <option value="2">@ApplicantWeb.App_LocalResources.Applicant.OneTime</option>
                                    break;
                                case 2:
                                <option value="0">@ApplicantWeb.App_LocalResources.Applicant.FullTime</option>
                                <option value="1">@ApplicantWeb.App_LocalResources.Applicant.PartTime</option>
                                <option selected value="2">@ApplicantWeb.App_LocalResources.Applicant.OneTime</option>
                                    break;
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.TypeEmployment, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <div class="input-group short">
                            <div class="input-group-btn">
                                <select id="TypeSalary" name="TypeSalary" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @if (Model.TypeSalary == 0)
                                    {
                                        <option selected>@ApplicantWeb.App_LocalResources.Applicant.InMonth</option>
                                        <option>@ApplicantWeb.App_LocalResources.Applicant.InHour</option>
                                    }
                                    else
                                    {
                                        <option>@ApplicantWeb.App_LocalResources.Applicant.InMonth</option>
                                        <option selected>@ApplicantWeb.App_LocalResources.Applicant.InHour</option>
                                    }
                                </select>
                            </div>
                            <input type="text" id="Salary" value="@Model.Salary" name="Salary" class="form-control" aria-label="...">
                            <div class="input-group-btn">
                                <select class="btn btn-default dropdown-toggle" id="TypeMoney" name="TypeMoney">
                                    @if (Model.TypeSalary == 0)
                                    {
                                        <option selected>₽</option>
                                        <option>$</option>
                                    }
                                    else
                                    {
                                        <option>₽</option>
                                        <option selected>$</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    @Html.ValidationMessageFor(model => model.TypeSalary, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.TypeMoney, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <h3>@ApplicantWeb.App_LocalResources.Applicant.Contacts</h3>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control short" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control short" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.Skype, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Skype, new { htmlAttributes = new { @class = "form-control short" } })
                        @Html.ValidationMessageFor(model => model.Skype, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.WebSite, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.WebSite, new { htmlAttributes = new { @class = "form-control short" } })
                        @Html.ValidationMessageFor(model => model.WebSite, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.Repository, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Repository, new { htmlAttributes = new { @class = "form-control short" } })
                        @Html.ValidationMessageFor(model => model.Repository, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.Linkedin, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Linkedin, new { htmlAttributes = new { @class = "form-control short" } })
                        @Html.ValidationMessageFor(model => model.Linkedin, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.Facebook, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Facebook, new { htmlAttributes = new { @class = "form-control short" } })
                        @Html.ValidationMessageFor(model => model.Facebook, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.VKontakte, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.VKontakte, new { htmlAttributes = new { @class = "form-control short" } })
                        @Html.ValidationMessageFor(model => model.VKontakte, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control noresizehorizontal short" } })
                        @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-offset-7 col-md-5">
                <div class="form-group " style="margin:auto">
                    <a class="btn btn-info btn-sm" href='@Url.Action("Details",new{id=Model.ApplicantId}).ToString()'>
                        <i class="glyphicon glyphicon-info-sign"></i>
                        @ApplicantWeb.App_LocalResources.Applicant.BackToApplicant
                    </a>
                    <button type="submit" class="btn btn-success btn-sm" value="Save">
                        <i class="glyphicon glyphicon-ok"></i>
                        @ApplicantWeb.App_LocalResources.Applicant.Save
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/advanced")
}

