@model ApplicantClassLibrary.SortSearch

@{
    ViewBag.Title = "Соискатели";
}
@if (Model.Search != ""&&Model.Search!=null)
{
    <div class="row">
        <div class="col-md-4">
            <h2>Соискатели</h2>
            <p>По запросу "@Model.Search" @Html.Action("CountResults", new { sortSearch = Model }). Назад ко всем соискателям</p>
            <a class="btn btn-success btn-md" href="@Url.Action("Create")">
                <i class="glyphicon glyphicon-plus"></i>
                Добавить соискателя
            </a>
        </div>
        <div class="col-md-8">
            @Html.Partial("PartialSearch", Model)
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <h2>Соискатели</h2>
            <a class="btn btn-success btn-md" href="@Url.Action("Create")">
                <i class="glyphicon glyphicon-plus"></i>
                Добавить соискателя
            </a>
        </div>
        <div class="col-md-8">
            @Html.Partial("PartialSearch", Model)
        </div>
    </div>
}
<div id="pages">
    @Html.Action("Page", new { sortSearch=Model })
</div>
@section Scripts {
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}