@{
    ViewBag.Title = ApplicantWeb.App_LocalResources.Applicant.Applicants;
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<header>
    <h1>
        @ApplicantWeb.App_LocalResources.Applicant.Applicants
        <a class=" btn btn-success btn-sm pull-right" href="@Url.Action("Create")" style="margin-top: 5px;">
            <i class="glyphicon glyphicon-plus"></i>
             @ApplicantWeb.App_LocalResources.Applicant.AddNewApplicant
        </a>
    </h1>
</header>
<div class="box box-primary">
    <div class="box-body">
        <table id="listTable" class=" table table-bordered table-hover " cellspacing="0">
            <thead>
                <tr>
                    <th>@ApplicantWeb.App_LocalResources.Applicant.FullName</th>
                    <th>@ApplicantWeb.App_LocalResources.Applicant.Years</th>
                    <th>@ApplicantWeb.App_LocalResources.Applicant.City</th>
                    <th>@ApplicantWeb.App_LocalResources.Applicant.Tags</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>@ApplicantWeb.App_LocalResources.Applicant.FullName</th>
                    <th>@ApplicantWeb.App_LocalResources.Applicant.Years</th>
                    <th>@ApplicantWeb.App_LocalResources.Applicant.City</th>
                    <th>@ApplicantWeb.App_LocalResources.Applicant.Tags</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#listTable').DataTable({
            "ajax": {
                "url": "@Url.Action("List", "Applicants")",
                "dataSrc": function (json) {
                    var i = 0;
                    while (json.data[i] != null) {
                        var j = 0;
                        var result = "";
                        while (json.data[i]["Теги"][j] != null) {
                            result += json.data[i]["Теги"][j];
                            j++;
                        }
                        json.data[i]["Теги"] = result;
                        i++;
                    }
                    return json.data;
                }
            },
            "columns": [
                { "data": "ФамилияИмя" },
                { "data": "Возраст" },
                { "data": "Город" },
                { "data": "Теги" }
            ],
            
            "language": {
                "search": "@ApplicantWeb.App_LocalResources.Applicant.Search",
                "decimal": "@ApplicantWeb.App_LocalResources.Applicant.Decimal",
                "emptyTable": "@ApplicantWeb.App_LocalResources.Applicant.EmptyTable",
                "info": "@ApplicantWeb.App_LocalResources.Applicant.Info",
                "infoEmpty": "@ApplicantWeb.App_LocalResources.Applicant.InfoEmpty",
                "infoFiltered": "@ApplicantWeb.App_LocalResources.Applicant.InfoFiltered",
                "infoPostFix": "@ApplicantWeb.App_LocalResources.Applicant.InfoPostFix",
                "thousands": "@ApplicantWeb.App_LocalResources.Applicant.Thousands",
                "lengthMenu": "@ApplicantWeb.App_LocalResources.Applicant.LengthMenu",
                "loadingRecords": "@ApplicantWeb.App_LocalResources.Applicant.LoadingRecords",
                "processing": "@ApplicantWeb.App_LocalResources.Applicant.Processing",
                "zeroRecords": "@ApplicantWeb.App_LocalResources.Applicant.ZeroRecords",
                "paginate": {
                    "first": "@ApplicantWeb.App_LocalResources.Applicant.PaginateFirst",
                    "last": "@ApplicantWeb.App_LocalResources.Applicant.PaginateLast",
                    "next": "@ApplicantWeb.App_LocalResources.Applicant.PaginateNext",
                    "previous": "@ApplicantWeb.App_LocalResources.Applicant.PaginatePrevious"
                },
                "aria": {
                    "sortAscending": "@ApplicantWeb.App_LocalResources.Applicant.AriaSortAscending",
                    "sortDescending": "@ApplicantWeb.App_LocalResources.Applicant.AriaSortDescending"
                }
            }
        });
        
        $('#listTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('info')) {
                $(this).removeClass('info');
            }
            else if ($(this).hasClass('danger')) {
                $(this).removeClass('danger');
            }
            else {
                table.$('tr.info').removeClass('info');
                table.$('tr.danger').removeClass('danger');
                if ($(this).children().children().hasClass('man')) {
                    $(this).addClass('info');
                } else {
                    $(this).addClass('danger');
                }
            }
        });
    });
</script>