@model ApplicantClassLibrary.SortSearch

@{
    ViewBag.Title = "Соискатели";
}
<div class="row" style="margin-top:20px">
    <div class="col-md-7">
        <header class="form-group">
            <h2>
                Соискатели
                <a class=" btn btn-success btn-sm " href="@Url.Action("Create")">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
            </h2>
        </header>
        @if (Model.Search != "" && Model.Search != null)
        {
            <p>
                По запросу "@Model.Search" @Html.Action("CountResults", new { sortSearch = Model })  
                <a class="btn btn-default btn-sm" href="@Url.Action("Index")">
                    Назад ко всем записям
                    <i class="glyphicon glyphicon-list"></i>
                </a>
            </p>
        }
    </div>
    <div class="col-md-5">
        @Html.Partial("PartialSearch", Model)
    </div>
</div>
<div id="pages">
    @Html.Action("Page", new { sortSearch = Model })
</div>
@section Scripts {
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}