@model Applicant.Models.Applicant

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">Личные данные</h4>
            </div>
            <div class="media-right">
                <a class="btn btn-primary btn-sm media-object" href="@Url.Action("Edit", new { id = Model.ApplicantId })">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered cf">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Gender)</th>
            <td>@Html.DisplayFor(model => model.Gender)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Birthday)</th>
            <td>
                @{
                    int YearsPassed = DateTime.Now.Year - Model.Birthday.Year;
                    if (DateTime.Now.Month < Model.Birthday.Month || (DateTime.Now.Month == Model.Birthday.Month && DateTime.Now.Day < Model.Birthday.Day))
                    {
                        YearsPassed--;
                    }
                    string strYears = "";
                    if (YearsPassed > 16)
                    {
                        if (YearsPassed % 10 == 1)
                        {
                            strYears = "(" + @YearsPassed + " год)";
                        }
                        else if (YearsPassed % 10 < 5)
                        {
                            strYears = "(" + @YearsPassed + " года)";
                        }
                        else
                        {
                            strYears = "(" + @YearsPassed + " лет)";
                        }
                    }
                }
                @Html.DisplayFor(model => model.Birthday) @strYears

            </td>
            </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Residence)</th>
            <td>@Html.DisplayFor(model => model.Residence)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Salary)</th>
            <td>@Int32.Parse(Model.Salary.ToString())p.</td>
        </tr>
        @if (Model.Comments != null)
        {
            <tr>
                <th>@Html.DisplayNameFor(model => model.Comments)</th>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Comments)</td>
            </tr>
        }
    </table>
</div>