@model ApplicantWeb.Models.Applicant

<div class="media">
    <div class="media-body">
        <h4 class="media-heading">@ApplicantWeb.App_LocalResources.Applicant.Contacts</h4>
    </div>
    <div class="media-right">
        <button class="btn btn-primary btn-sm media-object" title=@ApplicantWeb.App_LocalResources.Applicant.EditPersonalData href="@Url.Action("Edit", new { id = Model.ApplicantId })">
            <i class="glyphicon glyphicon-edit"></i>
        </button>
    </div>
</div>

<table class="table table-condensed">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <td>@Html.DisplayFor(model => model.Email)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Phone)</th>
        <td>@Html.DisplayFor(model => model.Phone)</td>
    </tr>
    @if (Model.Skype != null)
    {
        <tr>
            <th class="">@Html.DisplayNameFor(model => model.Skype)</th>
            <td>@Html.DisplayFor(model => model.Skype)</td>
        </tr>
    }
    @if (Model.WebSite != null)
    {
        <tr>
            <th>@Html.DisplayNameFor(model => model.WebSite)</th>
            <td>@Html.DisplayFor(model => model.WebSite)</td>
        </tr>
    }
    @if (Model.Repository != null)
    {
        <tr>
            <th>@Html.DisplayNameFor(model => model.Repository)</th>
            <td>@Html.DisplayFor(model => model.Repository)</td>
        </tr>
    }
    @if (Model.Linkedin != null)
    {
        <tr>
            <th>@Html.DisplayNameFor(model => model.Linkedin)</th>
            <td>@Html.DisplayFor(model => model.Linkedin)</td>
        </tr>
    }
    @if (Model.Facebook != null)
    {
        <tr>
            <th>@Html.DisplayNameFor(model => model.Facebook)</th>
            <td>@Html.DisplayFor(model => model.Facebook)</td>
        </tr>
    }
    @if (Model.VKontakte != null)
    {
        <tr>
            <th>@Html.DisplayNameFor(model => model.VKontakte)</th>
            <td>@Html.DisplayFor(model => model.VKontakte)</td>
        </tr>
    }
</table>
