@model IEnumerable<Applicant.Models.Applicant>
<table class=" table table-hover">
    <thead class="panel panel-heading ">
        <tr class="row">
            <th class="col-md-1"></th>
            <th class="col-md-3">
                @Html.DisplayNameFor(model => model.FirstName)
                @Html.DisplayNameFor(model => model.MiddleName)
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th class="col-md-1">Возраст</th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Residence)
            </th>
            <th class="col-md-2">@Html.DisplayNameFor(model => model.Salary)</th>
            <th class="col-md-2">Контакты</th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var cl = "";
            if (item.Gender == ApplicantClassLibrary.Gender.Мужской)
            {
                cl = "info";
            }
            else
            {
                cl = "danger";
            }
            <tr class="row @cl">
                <td class=" col-md-1">

                        <a class="btn btn-info btn-sm" role="button" title="Подробней" data-toggle="popover" href="@Url.Action("Details", new { id = item.ApplicantId })">
                            <i class="glyphicon glyphicon-share-alt"></i>
                        </a>

                </td>
                <td class="col-md-3">
                    @Html.DisplayFor(modelItem => item.FirstName)
                    @Html.DisplayFor(modelItem => item.MiddleName)
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>

                @{
            int YearsPassed = DateTime.Now.Year - item.Birthday.Year;
            if (DateTime.Now.Month < item.Birthday.Month || (DateTime.Now.Month == item.Birthday.Month && DateTime.Now.Day < item.Birthday.Day))
            {
                YearsPassed--;
            }
                }
                <td class="col-md-1">@YearsPassed</td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Residence)
                </td>
                <td class="col-md-2">
                    @Int32.Parse(item.Salary.ToString())p.
                </td>
                <td class="col-md-2">
                    @if (item.Email != null)
                    {
                        <div> E-mail: @Html.DisplayFor(modelItem => item.Email) </div>
                    }
                    @if (item.Skype != null)
                    {
                        <div> Skype: @Html.DisplayFor(modelItem => item.Skype)</div>
                    }
                    @if (item.Phone != null)
                    {
                        <div> Phone: @Html.DisplayFor(modelItem => item.Phone)</div>
                    }
                </td>

                <td class="col-md-1">
                    <span style="padding:0; margin:0">
                        <a class="btn btn-primary btn-sm" title="Редактировать" data-toggle="popover" href="@Url.Action("Edit", new { id = item.ApplicantId })">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" role="button" title="Удалить" data-toggle="popover" href="@Url.Action("Delete", new { id = item.ApplicantId })">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

