@{
    ViewBag.Title = "Home Page";
    string Search = "";
    ApplicantClassLibrary.PoleSort PoleSort = ApplicantClassLibrary.PoleSort.Фамилия;
    ApplicantClassLibrary.OrderSort OrderSort = ApplicantClassLibrary.OrderSort.Прямой;
    int CountElementsInPage = 5;
}
@using (Html.BeginForm("Index", "Applicants"))
{ 
    @Html.AntiForgeryToken()
<div class="jumbotron">
    <h1>Aplicant</h1>
    @Html.HiddenFor(model => PoleSort)
    @Html.HiddenFor(model => OrderSort)
    @Html.HiddenFor(model => CountElementsInPage)
    <div id="custom-search-input">
        <div class="form-group">
            <div class="input-group help-block row">
                @Html.EditorFor(model => Search, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "Search", @type = "text" } })
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-info btn-lg">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-info btn-lg" value="Соискатели" />
</div>
}
